<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dev Internal</title>
    <meta name="description" content="AdminLTE2">
    <meta name="keywords" content="AdminLTE2">
    <link rel="icon" href="../static/img/R.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/blue.css">
    <link rel="stylesheet" href="../static/css/morris.css">
    <link rel="stylesheet" href="../static/css/jquery-vector-map-1.2.2.css">
    <link rel="stylesheet" href="../static/css/datepicker3.css">
    <link rel="stylesheet" href="../static/css/dateRangePicker.css">
    <link rel="stylesheet" href="../static/css/bootstrap3-html5.min.css">
    <link rel="stylesheet" href="../static/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="../static/css/jquery.tree-table.css">
    <link rel="stylesheet" href="../static/css/jquery.tree-table.theme.default.css">
    <link rel="stylesheet" href="../static/css/select2.css">
    <link rel="stylesheet" href="../static/css/bootstrap-color-picker.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-markdown.min.css">
    <link rel="stylesheet" href="../static/css/AdminLTE.css">
    <link rel="stylesheet" href="../static/css/_all-skins.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="../static/css/ion.rangeSlider.skinNice.css">
    <link rel="stylesheet" href="../static/css/slider.css">
    <link rel="stylesheet" href="../static/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="../static/css/calendar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"></script>
    <script src="../TA/login.js"></script>
    <script src="../TA/localStorage.js"></script>
    <script src="../TA/register.js"></script>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>Login</b></a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Fill in your account to log in</p>

            <form>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Email" id="name">
                    <span class="fa fa-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="password" id="psw">
                    <span class="fa  fa-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label><input type="checkbox"> Remember password</label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-primary btn-block btn-flat" onclick="login()">Login</button>
                    </div>
                </div>
            </form>

            <div class="social-auth-links text-center">
                <p>- More -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-google-plus"></i> Google</a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-facebook"></i> Facebook</a>
            </div>
            <a href="#">Forget the password</a><br>
            <a href="all-admin-register.html" class="text-center">New user registration</a>

        </div>

    </div>
    <script src="../static/js/jquery-2.2.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/icheck.min.js"></script>
    <script>
        $(function() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</body>

</html>